@font-face {
  font-family: 'PlayMeGames';
  src: url('PlayMeGamesReguler.eot');
  src: url('PlayMeGamesReguler.eot?#iefix') format('embedded-opentype'),
    url('PlayMeGamesReguler.woff2') format('woff2'),
    url('PlayMeGamesReguler.woff') format('woff'),
    url('PlayMeGamesReguler.ttf') format('truetype'),
    url('PlayMeGamesReguler.svg#PlayMeGamesReguler') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
